/* -------------------------------------Header Styles----------------------------------*/
.nav-link{
    color: #F1642E; /* Color of links */
}
.nav-link:hover {
  background-color: #F1642E; /* Background & text color changes on hover */
  color: #FCDD9D;
}
li {
   display:inline-block;
   padding: 0 40px; /* Spacing between links */
}

.header_title{
    margin-bottom:50px;
}
/*------------------------------------ Homepage Styles----------------------------------*/
body {
  background-color: #FCDD9D;
}
h1 {
  text-align: center;
  color: #F1642E;
  margin-top: 25px;

}
#add_new_recipe_button, #all_recipes_button{

    margin-bottom: 40px;
    background-color: #F1642E;
    color: #FCDD9D;
    box-shadow: none;

}
#add_new_recipe_button:hover, #all_recipes_button:hover{

    color: white;
}




.homepage_buttons_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}


@media (max-width: 600px) {
  .homepage_buttons_area {
    flex-direction: column;
    align-items: center;
  }
}


/*-------------------------------Individual Category Cards--------------------------------------*/
/*card styles*/

.all_cards{
    margin-left: 1.5rem;
}
.card{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    text-align:center;
    background-color: #FFF6E5;
    color: #F1642E;
    height:300px;
    width:400px;
}

/* Food Icons */
.food_icon{
    padding-top: 10px;
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}

/*card buttons*/
.meal_button{
    color: #F1642E;
    background-color:#FCDD9D;
}
.meal_button:hover{
    color: white;
    background-color:#FCDD9D;
}
/*------------------------------------Add Recipe Page-----------------------------------------*/
.new_recipe_form{
    display: flex;
    flex_direction: column;
    justify-content: center;
    margin-bottom: 100px;
    color: #F1642E;

}
/*------------------------------------Login Page---------------------------------------------*/

.login_page{
    display: grid;
    justify-content: center;
    height: 70vh;
}

.login_form{

    color: #F1642E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff6e5;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    border-radius: 30px;
    height: 350px;
    gap: 10px;
}

.register_login_button{
    background-color: #F1642E;
    color: #fff6e5;
    border-radius:5px;
    align: center;
    border: none;

}
/*------------------------------------Register Page---------------------------------------------*/
.register_page{
    height: 70vh;
    display:grid;
    justify-content: center;
}

.register_form{
    color: #F1642E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff6e5;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    border-radius: 30px;
    height: 350px;
    gap: 10px;
}
/*------------------------------------Planner Page---------------------------------------------*/
.planner_page{
    display: grid;
    justify-content: center;
    height: 70vh;

}


.planner{
    color: #F1642E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff6e5;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    border-radius: 30px;
    height: 350px;
    gap: 10px;
}
/*------------------------------------Breakfast Page---------------------------------------------*/
.breakfast_recipes_page{
    display:grid;
    justify-content: start;
    height : 70vh;
}
.breakfast_card{
    background-color: #fff6e5;
    border-color: #fff6e5;
    border-radius:10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: #F1642E;
    margin-left: 10px;
}
.breakfast_card_image{
    height: auto;
    width: 100px;
}

/*------------------------------------All Recipes Page---------------------------------------------*/



.all_recipes_table {
  border-collapse: collapse;
  width: 90%;
  max-width: 800px;
  margin: 40px auto; /* centers table and adds vertical space */
  color: #F1642E;
}

.all_recipes_table th,
.all_recipes_table td {
  border: 1px solid #fff6e5;
  padding: 10px;
  text-align: left;
}
.all_recipes_table a {
  color: #F1642E;
  text-decoration: none;
}