/* -------------------------------------Header Styles----------------------------------*/
.nav-link{
    color: #F1642E; /* Color of links */
}
.nav-link:hover {
  background-color: #F1642E; /* Background & text color changes on hover */
  color: #FCDD9D;
}
li {
   display:inline-block;
   padding: 0 40px; /* Spacing between links */
}

.header_title{
    margin-bottom:50px;
}
/*------------------------------------ Homepage Styles----------------------------------*/
body {
  background-color: #FCDD9D;
}
h1 {
  text-align: center;
  color: #F1642E;
  margin-top: 25px;

}
#add_new_recipe_button{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #F1642E;
    color: #FCDD9D;
    box-shadow: none;

}
#add_new_recipe_button:hover{
    margin-top: 40px;
    color: orange;
}

#all_recipes_button{
    background-color: #F1642E;
    color: #FFF6E5;
    margin-bottom: 20px;
}

/*-------------------------------Individual Category Cards--------------------------------------*/
/*card styles*/

.all_cards{
    margin-left: 1.5rem;
}
.card{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    text-align:center;
    background-color: #FFF6E5;
    color: #F1642E;
    height:300px;
    width:400px;
}

/* Food Icons */
.food_icon{
    padding-top: 10px;
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}
/*card buttons*/
.meal_button{
    color: #F1642E;
    background-color:#FCDD9D;
}
.meal_button:hover{
    color: white;
    background-color:#FCDD9D;
}
/*------------------------------------Add Recipe Page-----------------------------------------*/
.new_recipe_form{
    display: flex;
    flex_direction: column;
    justify-content: center;
    margin-bottom: 100px;
    color: #F1642E;

}
/*------------------------------------Login Page---------------------------------------------*/

.login_page{
    display: grid;
    justify-content: center;
    height: 70vh;
}

.login_form{

    color: #F1642E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff6e5;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    border-radius: 30px;
    height: 350px;
    gap: 10px;
}

#login_button{
    background-color: red;
}
