/* Header Styles */
.nav-link{
    color: #F1642E; /* Color of links */
}

.nav-link:hover {
  background-color: #F1642E; /* Background & text color changes on hover */
  color: #FCDD9D;
}
li {
   display:inline-block;
   padding: 0 40px; /* Spacing between links */
}


/* Homepage Styles */
body {
  background-color: #FCDD9D;
}
h1 {
  text-align: center;
  color: #F1642E;
  margin-top: 25px;
  margin-bottom: 50px;
}
#add_new_recipe_button{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #F1642E;
    color: #FCDD9D;
    box-shadow: none;

}
#add_new_recipe_button:hover{
    margin-top: 40px;
    color: orange;
}
/*Homepage Meal Cards*/

/*text in the cards */
.card-body{
margin-left: 90px;
}

.card{
margin-left: 90px;
margin-right: 90px;
}
/*card buttons*/
.meal_button{
    color: #F1642E;
    background-color:#FCDD9D;
}
.meal_button:hover{
    color: orange;
    background-color:black;
}