<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Recipe</title>
  {{ ckeditor.load() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  {% include "header.html" %}

  <div class="new_recipe_form">
    <form method="POST" action="/add_new_recipe" accept-charset="UTF-8">
      {{ form.hidden_tag() }}
    <div class="">
      <label for="recipe_name">{{ form.recipe_name.label.text }}</label><br>
      {{ form.recipe_name(id="recipe_name") }}<br><br>
    </div>
    <div>
      <label for="url">{{ form.url.label.text }}</label><br>
      {{ form.url(id="url") }}<br><br>
    </div>
    <div>
      <label for="recipe">{{ form.recipe.label.text }}</label><br>
      {{ form.recipe(id="recipe") }}<br><br>
    </div>
    {{ form.submit() }}
  </form>
</div>
</body>
</html>
