<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% include "header.html" %}
{% for recipe in recipe_list %}
  <div>
    <h2>{{ recipe.recipe_name }}</h2>
    <a href="{{ recipe.url }}">{{ recipe.url }}</a>
    <p>{{ recipe.recipe | safe }}</p>
  </div>
{% else %}
  <p>No recipes yet!</p>
{% endfor %}

<table class="all_recipes_table">
  <tr>
    <th>Recipe Item</th>
    <th>Web Link</th>
    <th>Category</th>

  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>

  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>


</body>
</html>