<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tried & Tasted</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
{% include "header.html" %}


<!--All Recipes Button-->

<div style="display: flex; justify-content: center;">
<a href="{{ url_for('all_recipes') }}" class="btn btn-warning btn-lg" id="all_recipes_button">
  All Recipes
</a>
</div>



<!--Cards-->
<div class="all_cards">
<!--Breakfast Card-->
<div class="row row-cols-1 row-cols-md-3 gx-1 g-4">
  <div class="col">
    <div class="card">
      <img src="static/images/breakfast.png" class="card-img-top food_icon" alt="...">
      <div class="card-body">
        <h5 class="card-title">Breakfast</h5>
        <p class="card-text">Your favorite morning meals, all in one spot.</p>
      <a href="{{ url_for('breakfast_recipes') }}" class="btn btn-warning btn-lg meal_button" >
  View Breakfast Collection
</a>
      </div>
    </div>
  </div>

<!--Lunch Card-->
  <div class="col">
    <div class="card">
      <img src="static/images/chicken_wrap.png" class="card-img-top food_icon" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lunch</h5>
        <p class="card-text">Handpicked lunch ideas you've saved for later.</p>
            <a href="{{ url_for('lunch_recipes') }}" class="btn btn-warning btn-lg meal_button" >
  Open Lunch Recipes
</a>
      </div>
    </div>
  </div>

<!--Dinner Card-->
  <div class="col">
    <div class="card">
      <img src="static/images/chicken kebab.png" class="card-img-top food_icon" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dinner</h5>
        <p class="card-text">Dinners you know and love, saved just for you.</p>
            <a href="{{ url_for('dinner_recipes') }}" class="btn btn-warning btn-lg meal_button">
  Go to Dinner Recipes!
</a>
      </div>
    </div>
  </div>

<!--Side dishes Card-->
  <div class="col">
    <div class="card">
      <img src="static/images/potatoes.png" class="card-img-top food_icon" alt="...">
      <div class="card-body">
        <h5 class="card-title">Side Dishes</h5>
        <p class="card-text">All your favorite sides right by your side.</p>
            <a href="{{ url_for('side_dish_recipes') }}" class="btn btn-warning btn-lg meal_button" >
  Side Dishes
</a>
      </div>
    </div>
  </div>
<!--Dessert Cards-->
  <div class="col">
    <div class="card">
      <img src="static/images/chocolate_cake.png" class="card-img-top food_icon" alt="...">
      <div class="card-body">
        <h5 class="card-title">Desserts</h5>
        <p class="card-text">Sweet treats you've saved to satisfy any craving.</p>
            <a href="{{ url_for('dessert_recipes') }}" class="btn btn-warning btn-lg meal_button" >
  See Your Desserts
</a>
      </div>
    </div>
  </div>

<!--drinks-->
  <div class="col">
    <div class="card">
      <img src="static/images/chai.png" class="card-img-top food_icon" alt="...">
      <div class="card-body">
        <h5 class="card-title">Drinks</h5>
        <p class="card-text">From smoothies to lattes—your saved sips await.</p>
            <a href="{{ url_for('drink_recipes') }}" class="btn btn-warning btn-lg meal_button">
  View Drink Picks
</a>
      </div>
    </div>
  </div>

    <!--baked goods-->
  <div class="col">
    <div class="card">
      <img src="static/images/toast.png" class="card-img-top food_icon" alt="...">
      <div class="card-body">
        <h5 class="card-title">Breads & Baked Goods</h5>
        <p class="card-text">Baked favorites you've saved to make again and again.</p>
            <a href="{{ url_for('breads_and_baked_goods_recipes') }}" class="btn btn-warning btn-lg meal_button" >
  Open Baked Goods
</a>
      </div>
    </div>
  </div>

    <!--Soups & Stews-->
  <div class="col">
    <div class="card">
      <img src="static/images/pozole.png" class="card-img-top food_icon" alt="...">
      <div class="card-body">
        <h5 class="card-title">Soups & Stews</h5>
        <p class="card-text">Your saved soups and stews for every season.</p>
            <a href="{{ url_for('soups_and_stews_recipes') }}" class="btn btn-warning btn-lg meal_button" >
  Soups & Stews Recipes
</a>
      </div>
    </div>
  </div>

        <!--Condiments & Staples -->
  <div class="col">
    <div class="card">
      <img src="static/images/mayo.png" class="card-img-top food_icon" alt="...">
      <div class="card-body">
        <h5 class="card-title">Condiments & Staples</h5>
        <p class="card-text">Go-to bases, sauces, and staples — all in one place.</p>
            <a href="{{ url_for('condiments_and_staples') }}" class="btn btn-warning btn-lg meal_button">
  Condiments & Staples
</a>
      </div>
    </div>
  </div>

</div>


<!---->


<!--Add A New Recipe Button-->

<div style="display: flex; justify-content: center;">
<a href="{{ url_for('add_recipe') }}" class="btn btn-warning btn-lg" id="add_new_recipe_button">
  Add New Recipe
</a>
</div>
</div>
</body>
</html>