<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="login_form">
  <h2>Login</h2>

  <form method="POST" >
    {{ form.hidden_tag() }} <!-- CSRF protection -->

    <!-- Email input -->
    <p>{{ form.email.label }} {{ form.email(size=32) }}</p>

    <!-- Password input -->
    <p>{{ form.password.label }} {{ form.password(size=32) }}</p>

    <!-- Submit button -->
    <p>{{ form.submit() }}</p>
  </form>
</div>
</body>
</html>