<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an Account</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
{% include "header.html"%}
<div class="register_page">
    <div class="register_form">
        <h2 class="register_form_item">Create an Account</h2><br>

        <form method="post" action="{{ url_for('register') }}" class="register_form_item">
            {{ form.hidden_tag() }} <!-- CSRF protection -->

            <p>{{ form.email.label }} {{form.email(size=32)}}</p>

            <p>{{form.password.label}} {{form.password(size=32)}}</p>

            <p class="register_form_item">{{form.submit(class_="register_login_button")}}</p>
            <a href="/login" style="color: #fb3f00">Already have an account? Login</a>
        </form>

    </div>
</div>
</body>
</html>